<!DOCTYPE html>
<html>
 <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Blog_Moda</title>
      
      <link rel="stylesheet" href="/stylesheets/EstiloNc.css">

 </head>
  <body>
  
 <div class="mobile"><br><br>
  <div class="topnav">
    <a <button  onclick="openNav()"> 
    <ion-icon name="reorder-three-outline" style="font-size: 26px;">
     </ion-icon> </button></a>
 
 

    <div class="dropdown">
      
     <a <button class="dropbtn">   
       <ion-icon name="person-circle-outline" style="font-size:25px;">  <i class="fa fa-caret-down"></i></ion-icon> 
      </a> 
    
      
        
      </button>
      
      <div class="dropdown-content">
        <a href="/Login">Login</a>
        <a href="/Cadastro">Cadastro</a>
        <a href="/Perfil">Perfil</a>

    </div><!--DropdownCotnet-->
    


    </div><!--TopoNavegador-->
    </div><!--mobile-->
    <br>

    <div class="sidebar" id="Sb">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
      <a href="/Noticias">Noticias</a>
      <a href="/Destaques">Destaque</a>
      <a href="/">Home</a>
     </div><!--SideBar-->

    <div class="barra">
      <form>
        <input type="text" name="search" placeholder="Search..">
      </form>
  </div><!--Barra--> <br><br><br><br>

     

   </div class="contem">

     <div class="row">

       <div class="leftcolumn">

         <div class="card">

           <h2>Título da Noticia</h2>

           <h5> Data da publicação: Dec 7, 2017</h5>

           <div class="fakeimg" style="height:200px;">Image</div>

           <p>texto sobre noticia </p>

           <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolor
            e magna aliqua. 
            
            Ut enim ad minim veniam, quis nostr
            ud exercitation ullamco.</p>
          </div><!--cardp--> <br>

          <div class="card">

           <h2>Título da Noticia</h2>

           <h5> Data da publicação: Dec 7, 2017</h5>

           <div class="fakeimg" style="height:200px;">Image</div>

           <p>texto sobre noticia </p>

           <p>Sunt in culpa qui officia deserunt mollit anim id est
            laborum consectetur adipiscing elit, sed do eiusmod tem
            por incididunt ut labore et dolore magna aliqua. Ut enim 
            ad minim veniam, quis nostrud exercitation ullamco.</p>
         </div><!--cardp2-->

       </div><!--colunaEsquerda-->

       <div class="rightcolumn">

         <div class="card">
  

        <a href="/Cadastro" style="font-size: large;"><img src="" alt="">Cadastre</a>
       
          </div><!--card1-->

          <div class="card">

           <h3>Popular Post</h3>

           <div class="fakeimg"><p>Image</p></div><br>
           <div class="fakeimg"><p>Image</p></div><br>
           <div class="fakeimg"><p>Image</p></div><br>

         </div><!--card2-->

         <div class="card">

          <h3>Follow Me</h3>

          <p>Some text..</p>

        </div><!--card3-->

      </div><!--Row-->

    </div><!--Contem-->
    
    <div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
    </div><!--Pagination-->


    <div class="footer">

      <footer>
        <ion-icon name="logo-instagram"></ion-icon>
        <a href="mailto:Devil@instagram.com" >Devil@instagram.com</a></p>
    
        <ion-icon name="mail-outline" ></ion-icon>
        <a href="mailto:Devil@gmail.com"  >Devil@gmail.com</a></p>
    
        <ion-icon name="logo-twitter"  ></ion-icon>
        <a href="mailto:Devil@twiter.com" >Devil@twiter.com</a></p>
    
        <div id="logo">
          <h1>DeVil</h1>     
        </div>
  
      </footer>
  
    </div><!--footer-->



    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!--PermissãoModulo-->

    <script>
      function openNav() {
        document.getElementById("Sb").style.width = "250px";
        document.getElementById("topnav").style.marginLeft = "250px";
        document.getElementsByClassName("sumir")  
        }
      
      function closeNav() {
        document.getElementById("Sb").style.width = "0";
        document.getElementById("topnav").style.marginLeft= "0";
      }
  
  
      </script>


  </body>
</html>
