
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-Devil</title>

    <link rel="stylesheet" href="/stylesheets/EstiloT.css">
</head>
<body>
    
  <div class="mobile"><br><br>
    <div class="topnav">
      <a  onclick="openNav()"> 
      <ion-icon name="reorder-three-outline" style="font-size: 26px;">
       </ion-icon> </button></a>
   

      <div class="dropdown">
        
       <a class="dropbtn">   
         <ion-icon name="person-circle-outline" style="font-size:25px;">  <i class="fa fa-caret-down"></i></ion-icon> 
        </a> 
      
        
          
        </button>
        
        <div class="dropdown-content">
        
          <a href="/Membro">Membro</a>
          <a href="">Sair</a>
        
  
      </div><!--DropdownCotnet-->
      
  
  
   </div><!--TopoNavegador-->
  </div><!--mobile-->
 
  <div class="sidebar" id="Sb">
   <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
   <a href="/Noticias">Noticias</a>
   <a href="/Destaques">Destaque</a>
   <a href="/">Home</a>
 
  </div><!--SideBar-->
  <br>
  <div class="barra">
    <form>
      <input type="text" name="search" placeholder="Search..">
    </form>
  </div><!--Barra--> <br><br><br><br>
  

  
    <h1 id="Titulo">SEU PERFIL</h1>

    <div class="fakeimg" ><div>image</div></div><br><br>

     <div class="quadrado">
      <h3>SUA DESCRIÇÃO</h3>

     </div><br>

    <h2 id="mn">Seus blogs:</h2>

      <div class="leftColum" style="display: flex; flex-direction: row; gap: 20px;">
        <div class="flip-card">
  
          <div class="flip-card-inner">
  
            <div class="flip-card-front">
  
              <img src="img_avatar.png" alt="Blog" style="width:300px;height:300px;">
  
            </div>
  
            <div class="flip-card-back">
  
              <h1>Titulo do blog</h1>
  
              <p>Data de Publicação: dec 22</p>
  
              <p>Descrição do Blog</p>
  
            </div>
  
          </div>
  
        </div>
  
        <div class="flip-card">
  
          <div class="flip-card-inner">
  
            <div class="flip-card-front">
  
              <img src="img_avatar.png" alt="Blog" style="width:300px;height:300px;">
  
            </div>
  
            <div class="flip-card-back">
  
              <h1>Titulo do blog</h1>
  
              <p>Data de Publicação: dec 22</p>
  
              <p>Descrição do Blog</p>
            </div>
  
          </div>
  
  
        </div>
  
        <div class="flip-card">
  
          <div class="flip-card-inner">
  
            <div class="flip-card-front">
  
              <img src="img_avatar.png" alt="Blog" style="width:300px;height:300px;">
  
            </div>
  
            <div class="flip-card-back">
  
              <h1>Titulo do blog</h1>
  
              <p>Data de Publicação: dec 22</p>
  
              <p>Descrição do Blog</p>
  
            </div>
  
          </div>
  
        </div>

        <div class="flip-card">
  
          <div class="flip-card-inner">
  
            <div class="flip-card-front">
  
              <img src="img_avatar.png" alt="Blog" style="width:300px;height:300px;">
  
            </div>
  
            <div class="flip-card-back">
  
              <h1>Titulo do blog</h1>
  
              <p>Data de Publicação: dec 22</p>
  
              <p>Descrição do Blog</p>
            </div>
  
          </div>
  
  
        </div>
  
      </div>

      <div class="footer"><br><br><br><br><br><br><br><br><br><br>

        <footer>
          <ion-icon name="logo-instagram"></ion-icon>
          <a href="mailto:Devil@instagram.com" >Devil@instagram.com</a></p>
      
          <ion-icon name="mail-outline" ></ion-icon>
          <a href="mailto:Devil@gmail.com"  >Devil@gmail.com</a></p>
      
          <ion-icon name="logo-twitter"  ></ion-icon>
          <a href="mailto:Devil@twiter.com" >Devil@twiter.com</a></p>
      
          <div id="logo">
            <h1>DeVil</h1>     
          </div>

        </footer>

      </div><!--footer-->



      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
      <!--PermissãoModulo-->

      <script>

        function openNav() {
          document.getElementById("Sb").style.width = "250px";
          document.getElementById("topnav").style.marginLeft = "250px";
          document.getElementsByClassName("sumir")  
          }
        

        function closeNav() {
          document.getElementById("Sb").style.width = "0";
          document.getElementById("topnav").style.marginLeft= "0";
        }

        function sumir() { 
          var x = document.getElementById('links');
          if(x.style.display === 'block') 
            {
              x.style.display = 'none';
            }
            else{
              x.style.display = 'block'
            }
        }


      </script>



         
  




</body>
</html>